{% extends 'base.html.twig' %}

{% block title %}Jeu concours{% endblock %}

{% block body %}
<section id="victory">
    <img id="" class="discover" src="/asset/images/housegame/blason_{{ house.name }}.png" alt="logo_{{ house.name }}">
    <h2>Maison {{ house.name }}</h2>
    <p class="house">{{ house.description }}</p>

</section>
{% endblock %}
