{% extends 'base.html.twig' %}

{% block title %}Jeu concours{% endblock %}

{% block body %}
<section id="victory">
    <img src="{{ asset('asset/images/victory.gif' ) }}" alt="victoire">
    <h1>Maison {{ house.name }}</h1>
</section>
{% endblock %}
