{% extends 'base.html.twig' %}

{% block title %}Orlours 135 : ville candidate {% endblock %}
{% block body %}
    <figure id="figure-homepage">
        <img src="{{ asset('asset/images/homepage/main-image.png') }}" alt="photo-orléans" />
        <figcaption>
            <h1>Orlours 135</h1>
            <h2>Orléans et Tours s’allient sous la bannière d’ORLOURS 135 pour candidater au 135ème anniversaire ! </h2>
            <p class="button white"><a href="{{ path('team') }}">Découvrir l'équipe</a></p>
        </figcaption>
    </figure>
    <h2>Jeu concours</h2>
    <p>Message Agathe</p>
    <p class="button-important"><a href="{{ path('game') }}">Participer </a></p>
{% endblock %}
