{% extends 'base.html.twig' %}

{% block title %}Orlours 135 : ville candidate {% endblock %}
{% block body %}
    <figure id="figure-homepage">
        <img src="{{ asset('asset/images/homepage/main-image.png') }}" alt="photo-orléans" />
        <figcaption>
            <h1>Orlours 135</h1>
            <h2>Orléans et Tours s’allient sous la bannière d’ORLOURS 135 pour candidater au 135ème anniversaire ! </h2>
            <p class="button"><a href="{{ path('team') }}">Découvrir l'équipe</a></p>
            <p class="button"><a href="{{ path('housegame') }}">Participer au jeu des maisons</a></p>
        </figcaption>
    </figure>
{% endblock %}
