<h1>Bonjour !</h1>

<p>
    Veuillez cliquer sur le lien pour confirmer votre adresse électronique: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse Email</a>.
</p>

<p>
    L'équipe Orlours 135
</p>
