{% extends 'base.html.twig' %}

{% block title %}Jeu concours{% endblock %}

{% block body %}
    <img src="{{ asset('asset/images/victory.gif' ) }}" alt="victoire">
    <h1>Bravo tu as trouvé la bonne réponse</h1>
{% endblock %}
