<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Pirata+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('asset/css/main.css') }}" />
        <link rel="stylesheet" href="{{ asset('asset/css/mobile.css') }}" />
        <link rel="icon" type="image/png" href="{{ asset('asset/images/logo_refonte.png' ) }}" />

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <div id="main">
        <div class="header">
        {% include '_navbar.html.twig' %}

        {% block body %}
        {% endblock %}
{#    {% include '_footer.html.twig' %}#}
        </div>

    </div>
    <div id="test-js"></div>
    {% block javascripts %}{% endblock %}
    <script src = "https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </body>
    </html>

    </body>
</html>
